@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

body {
    background-color: #36393e;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

a {
    text-decoration: none;
}

.ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20%;
    margin-right: 20px;
    font-weight: 600;
    color: rgb(158, 157, 157);
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
}

.header {
    min-height: 50px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(29.17%,#1b1e29),to(rgba(27,30,41,0)))!important;
    background: -webkit-linear-gradient(top,#291b1b 29.17%,rgba(27,30,41,0))!important;
    background: -moz-linear-gradient(top,#291b1b 29.17%,rgba(27,30,41,0) 100%)!important;
    background: linear-gradient(180deg,#291b1b 29.17%,rgba(27,30,41,0))!important;
    position: sticky!important;
    z-index: 2000!important;
    top: 0;
}

.invite {
    display: flex;
    align-items: center;
    background-color: #f13b3b;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    padding: 13px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    height: 10px;
    transition: 0.4s;
}

.invite:hover{
    background-color: #ff5c5c;
}

.footer {
    width: 100%;
    height: 0.5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-top {
    height: 250px;
    background-color: rgba(53, 30, 29, 0.734);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-footer {
    color: white;
    font-weight: 50;
    margin: 10px;
}

.footer-top a {
    color: white;
}

.bot-name{
    text-transform: uppercase;
    color: white;
    font-family: 'Nabla', cursive;
    font-size: 30px;
}

.left-side-header{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px;
}

.footer-logo{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.copyright-box{
    margin-left: 10%;
    gap: 7px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
}

.invite-footer{
    display: flex;
    align-items: center;
    background-color: #f33636;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    padding: 13px;
    font-size: 15px;
    font-weight: 600;
    width: 86%;
    justify-content: center;
    transition: 0.4s ease;
}

.invite-footer:hover{
    background-color: #ff5c5c;
    cursor: pointer;
}

.main-icon{
    width: 150px;
    height: 150px;
    border-radius: 13px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100% !important;
}

.logo-and-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100% !important;
}

.invite-main{
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: #f33636;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    gap: 10px;
    transition: 0.4s ease;
}

.invite-main:hover{
    background-color: #ff5c5c;
    cursor: pointer;
}

.footer-list{
    list-style: none;
    color: white;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.terms-privacy{
    color: rgb(151, 151, 151);
    transition: 0.4s ease;
}

.terms-privacy:hover{
    color: #ff5c5c;
    
}

.suport-server{
    color: rgb(151, 151, 151);
    transition: 0.4s ease;
}

.suport-server:hover{
    color: #ff5c5c;
}

#bg-video{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
}

@media (min-aspect-ratio: 16/9){
    #bg-video{
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-aspect-ratio: 16/9){
    #bg-video{
        width: auto !important;
        height: 100% !important;
    }
}

@media (max-width: 438px){
    .terms-privacy{
        font-size: small !important;
    }
    .suport-server{
        font-size: small !important;
    }
}

@media (max-width: 404px){
    .invite-footer{
        padding: 10px;
        font-size: 13px;
        width: 75%;
    }
}

@media (max-width: 372px){
    .invite{
        width: 61px;
        padding: 10px;
        font-size: 10px;
    }
}